main {
    background-color: rgb(229, 244, 240);
    font-weight:bolder;
    font-family:cursive;
    text-align: center;
    font-size: 50pt;
    color: rgb(255, 209, 117);
    align-items: center ;
    

   
}
body {
    background-color: antiquewhite;
    border: 25px groove  rgb(255, 209, 117);
    align-items:center;
    

}
h1{
    transform:rotate(0.01turn);
    margin: 0pt;
    padding-top: 50pt;
}
img{
    border: 10pt ridge rgb(255, 250, 215) ;
}
